/* body {

    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  */ button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  } /*
  
  button:hover {
    background-color: #3e8e41;
  } */
  
  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  form {
    margin-right: 20px; /* Optional: Add some spacing between the form and the logo */
  }
  
  label, input, button {
    display: block;
    width: 100%;
  }
  
  
  #image {
    inline: size 5px;;
  }
  
