.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 5%;
  background-color: rgb(235, 191, 191);
}



/* body {

    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
  }

  .row {
  display: flex;
  align-items: center;
}

form {
  flex: 1;
  margin-right: 2rem;
}

img {
  flex: 1;
  max-width: 25%;
}

  
  */ button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  } /*
  
  button:hover {
    background-color: #3e8e41;
  } */
  .display-4{
    background-color: bisque;
    align-items: center;
  }
  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 71, 16);
  }
  
  .card-body{
    background-color: rgb(198, 240, 205);
  }
  .row {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 50%;
    width: 100%;
  }
  
  form {
    flex: 1;
    margin-right: 2rem;
  }
  
  img {
    flex: 2;
    max-width: 25%;
    top: 25%;

  }
  
  
  label, input, button {
    display: block;
    width: 100%;
  }
  
  
 #signup-btn{
  padding: auto;
 }
  
