.logo {
	position: absolute;
	top: 0;
	left: 0;
	height: 5%;
	background-color: rgb(146, 86, 86);
  }


  .navbar {
	background-color: #ff0000; /* Change the background color to red */
  }
  
  .navbar-brand, .navbar-nav .nav-link {
	color: #ffffff !important; /* Change the text color to white */
  }

  table tr {
	border: 2px solid black;

  }
  
  canvas {
	border: 2px solid black;
  }
  

  .container {
	display: flex;
	flex-wrap: wrap;
	border-color: #333;
  }
  
  .container > * {
	flex: 1 1 auto;
  }
section.grid{
	overflow-y: scroll;
	max-height: 500px;
	background-color: #ccc;
	border:2px solid #333;

}  


  /* Set general styles */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
  }
  
  .chart-container {
	width: 400px;
	height: 430px;
	margin: 0 auto;
	/* border-color: #333; */
  }
  
  .table-container{
	overflow-y: scroll;
	height: 300px;

  }

  .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

select, input {
  margin-bottom: 10px;
  width: 100%;
}

.btn-primary {
  margin-top: 20px;
}


  /* Navbar styles */
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #ccc;
  }
  
  .navbar-brand {
	display: inline-block;
	width: 100px;
	height: 50px;
	background-image: url("D:/Capstone Project/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
  }
  
  .navbar-nav {
	display: flex;
	justify-content: flex-end;
  }
  
  .nav-link {
	margin-left: 20px;
	text-decoration: none;
	color: #db8787;
	font-weight: bold;
  }
  
  .nav-link:hover {
	text-decoration: underline;
  }
  
  /* Grid styles */
  .grid {
	border-radius: 10px;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 20px;
  }
  
  /* Table styles */
 #finances {
	width: 100%;
	max-height: 400px;
	overflow-y: scroll;
  } 
  
 #finances th, #finances td {
	padding: 10px;
	text-align: left;
	border: 1px solid #cd4343;
	color: #333;
  }
  
   #finances th {
	background-color: #c14444;
	font-weight: bold;
  } 
  
  
  .modal.fade .modal-dialog {
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
  }
  .modal.fade.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
  }
  

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

nav li {
	margin-right: 1rem;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
grid-gap: 1rem;
	padding: 2rem;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}
.income-row {
    background-color: #91e8d9; /* light red */
}

.expense-row {
    background-color: #f4bbbb; /* light green */
}


.grid-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	line-height: 1.5;
}

  
  
  th, td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #d75b5b;
  }
  
  th {
	background-color: #4CAF50;
	color: rgb(25, 6, 6);
	border-color: #333;
  }
 

  